<section class="planner-with-checkboxes-and-filters-section">
  <h1 class="planner-title">Planner with Checkboxes and Filters</h1>
  <div class="planner-container">
    <div class="planner">
      <div class="planner-action-container">
        <input
          class="planner-task-input"
          type="text"
          placeholder="Add new text..."
          [(ngModel)]="inputValue"
          (keydown.enter)="addTask()"
        />
        <button class="blue-button-style" (click)="addTask()">
          Add
        </button>
      </div>
      <div class="planner-task" *ngFor="let task of filteredTasks" >
        <div>
          <input
            class="planner-task-checkbox"
            type="checkbox"
            [checked]="task.done"
            (change)="toggleTaskDone($event, task.id)"/>
        </div>
        <div>
          <p class="planner-task-text" [ngClass]="{ 'task-done': task.done }">
            {{ task.text }}
          </p>
        </div>
      </div>
      <div class="planner-filter-button-container">
        <button class="grey-button-style" (click)="setTaskFilter(plannerTaskFilterEnum.All)">All</button>
        <button class="grey-button-style" (click)="setTaskFilter(plannerTaskFilterEnum.InProgress)">In Progress</button>
        <button class="grey-button-style" (click)="setTaskFilter(plannerTaskFilterEnum.Completed)">Completed</button>
      </div>
    </div>
  </div>
</section>
